.advantages {

}
.advantages__item {
  .reset();
}
.advantages__item--blue-back {
  .reset();
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #ffffff;
  opacity: 1;

  background-color: @bg-contrast;
}
.advantages__item--gray-back {
  background-color: #eeeeee;
}
.advantages__title {
  .reset();
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.advantages__number {
  .reset();
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #333333;
  opacity: 1;
}
.advantages__number--blue-back {
  .reset();
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #ffffff;
  opacity: 1;

  background-color: @bg-contrast;
}
.advantages__description {
  .reset();

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #333333;
  opacity: 1;
}
.advantages__description--blue-back {
  .reset();

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #ffffff;
  opacity: 1;

  background-color: @bg-contrast;
}
.advantages__photo {

}
