.copyright {
  margin-bottom: 35px;
  padding-right: 45px;
}

.copyright__text {
  .reset();

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}

.copyright__link {
  position: relative;
}

.copyright__link-icon {
  width: 27px;
  height: 34px;

  position: absolute;

  top: -8px;
  left: 20px;
}

.copyright__link:hover .copyright__link-icon,
.copyright__link:focus .copyright__link-icon {
  path {
    fill: #89b8d5;
  }
}

.copyright__link:active .copyright__link-icon {
  opacity: 0.3;
  path {
    fill: #000000;
  }
}
