.copyright {

}
.copyright__text {
  .reset();

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.copyright__link {

}
