.feature-list {
  .reset-list();
}
.feature-list__item {

}
.feature-list__title {
  .reset();
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.feature-list__description {
  .reset();

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #333333;
  opacity: 1;
}

@media (min-width: @tablet-width) {
  .feature-list {
    display: flex;
  }
  .feature-list__item {

    width: 256px;

    padding-left: 45px;
    padding-right: 45px;

    padding-top: 205px;
    padding-bottom: 65px;
  }
  .feature-list__title {
    text-align: center;
  }
  .feature-list__description{

    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .feature-list__item {
    width: 400px;

    padding-bottom: 85px;
  }
}
