.gallery {

}
.gallery__list {
  .reset-list();
}
.gallery__item-photo {

}
.gallery__photo {

}
.gallery__title {
  .reset();
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.gallery__author {
  .reset();
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;
  opacity: 1;
}
.gallery__likes {
  .reset();

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;
  opacity: 1;
}
