.page-footer {

}

.page-footer__wrapper {
}
.page-footer__hashtag-slogan {
  .reset();
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.page-footer__social {

}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
  }
  .page-footer__hashtag-container,
  .page-footer__social,
  .page-footer__copyright {
    width: 256px;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__hashtag-container {
    width: 400px;
  }
}
