.page-footer {

}

.page-footer__wrapper {
  text-align: center;
}
.page-footer__hashtag-slogan {
  .reset();


  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #000000;
  opacity: 1;
}
.page-footer__hashtag-container {
    margin-bottom: 40px;
}
.page-footer__social {

}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 35px;
  }
  .page-footer__hashtag-container,
  .page-footer__social,
  .page-footer__copyright {
    width: 256px;

    text-align: center;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__hashtag-container,
  .page-footer__social,
  .page-footer__copyright {
    width: 400px;
  }
}
