.site-list {
  .reset-list();

  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: @letter-transform;
  color: #ffffff;
  opacity: 1;
}
  .site-list__item {
    background-color: #81b3d2;
}
  .site-list__item a {
      color: #ffffff;
      text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
  }
  .site-list__item {
    background-color: #ffffff;
}
  .site-list__item a {
      color: #000000;
  }
  .site-list__item:nth-child(1),
  .site-list__item:nth-child(3) {
    margin-right: 30px;
  }
  .site-list__item:nth-child(1) {
    padding-left: 48px;
  }
  .site-list__item:nth-child(2) {
    margin-right: 183px;
  }
  .site-list__item:nth-last-child {
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(1),
  .site-list__item:nth-child(3) {
    margin-right: 50px;
  }
  .site-list__item:nth-child(2) {
    margin-right: 200px;
  }
  .site-list__item:nth-last-child {
    margin-right: 0;
  }
}
