.social {
  margin-bottom: 50px;
}

.social__list {
  .reset-list();

  display: flex;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;

  color: #ffffff;

  background-color: #81b3d2;

  margin-right: 6px;
}

.social__item:hover,
.social__item:focus {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
}

.social__item:active .social__link {
  opacity: 0.3;
}

.social__link {
  position: relative;

  text-decoration: none;
}

.social__link-icon--twitter {
  width: 18px;
  height: 14px;

  position: absolute;

  top: 16px;
  left: -7px;
}

.social__link-icon--facebook {
  width: 9px;
  height: 18px;

  position: absolute;

  top: 14px;
  left: -5px;
}

.social__link-icon--youtube {
  width: 20px;
  height: 14px;

  position: absolute;

  top: 16px;
  left: -10px;
}

@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
  }
}
